<div>
  <div class="main-title">
    <h1><a routerLink="/schedule">What is my Ranger Doing Today?</a></h1>
    <a routerLink="/schedule">
      Schedule
    </a>
    &nbsp;|&nbsp;
    <a routerLink="/letters">
      Letters
    </a>
    &nbsp;|&nbsp;
    <a routerLink="/about">
      About
    </a>
  </div>
  
  <router-outlet></router-outlet>

  <footer>
    <a href="https://github.com/mdhiebert">@mdhiebert</a>
    <div>Questions or Suggestions? Contact me at <a href='mailto:myrangerschedule@gmail.com' >myrangerschedule@gmail.com</a></div>
  </footer>

</div>
